<header class="header">
	<div class="header__logo-wrapper">
		<a class="header__logo-wrapper__link" href="#">
			<img
				class="header__logo-wrapper__link__logo"
				width="42"
				height="44"
				src="../../../dist/img/logo_42x44.png"
				alt="Logo icon"
			/>
		</a>
	</div>
	<nav class="header__nav">
		<ul class="header__nav__list">
			<li class="header__nav__list__item">
				<img
					src="../../../dist/img/icons/bell-icon_24x24.png"
					width="24"
					height="24"
					alt="Bell icon"
				/>
			</li>
			<li class="header__nav__list__item">
				<img
					src="../../../dist/img/icons/russia-icon_24x24.png"
					width="24"
					height="24"
					alt="Russia icon"
				/>
			</li>
			<li class="header__nav__list__item">
				<button class="btn btn__md">Личный кабинет</button>
			</li>
			<li class="header__nav__list__item">
				<button class="btn btn__md btn__active">Регистрация</button>
			</li>
			<li class="header__nav__list__item">
				<div class="burger">
					<span class="burger__item"></span>
					<span class="burger__item burger__item_small"></span>
					<span class="burger__item"></span>
				</div>
			</li>
		</ul>
	</nav>
</header>
