<header class="header">
	<div class="header__logo-wrapper">
		<a
			class="header__logo-wrapper__link"
			href="#"
			aria-label="Перейти на главную страницу"
		>
			<img
				class="header__logo-wrapper__link__logo"
				width="42"
				height="44"
				src="./images/logo_42x44.png"
				alt="Logo icon"
			/>
		</a>
	</div>
	<nav class="header__nav" aria-label="Главная">
		<ul class="header__nav__list">
			<li class="header__nav__list__item">
				<img
					src="./images/icons/bell-icon_24x24.png"
					width="24"
					height="24"
					alt="Bell icon"
				/>
			</li>
			<li class="header__nav__list__item">
				<img
					src="./images/icons/russia-icon_24x24.png"
					width="24"
					height="24"
					alt="Russia icon"
				/>
			</li>
			<li class="header__nav__list__item">
				<button class="btn btn-md" aria-label="Перейти в личный кабинет">
					Личный кабинет
				</button>
			</li>
			<li class="header__nav__list__item">
				<button
					class="btn btn-md btn-active"
					aria-label="Перейти на страницу регистрации"
				>
					Регистрация
				</button>
			</li>
			<li class="header__nav__list__item">
				<div
					class="burger"
					role="button"
					tabindex="0"
					aria-label="Открывающее меню окно"
				>
					<span class="burger__item"></span>
					<span class="burger__item burger__item_small"></span>
					<span class="burger__item"></span>
				</div>
			</li>
		</ul>
	</nav>
</header>
